@font-face {
  font-family: "SB Sans UI";
  src: url("./gigakit/Interface/SBSansUI-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans UI";
  src: url("./gigakit/Interface/SBSansUI-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans UI";
  src: url("./gigakit/Interface/SBSansUI-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans Text Mono";
  src: url("./gigakit/Mono/SBSansTextMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SB Sans Text Mono";
  src: url("./gigakit/Mono/SBSansTextMono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
